body {
    font-family: "Open Sans", Sans-Serif !important;
}

.wahlkreis:hover {
    background: lightgrey;
}

#wahlkreise {
    visibility: visible;
    margin-top: 10px;
}

.row {
    margin-top: 10px;
}

#neckar_zaber, #heilbronn, #hohenlohe {
    display: none;
    margin-bottom: 40px;
    margin-top: 10px;
}

p {
    font-weight: bold;
}

p::first-line {
    font-weight: normal;
}